@font-face {
  font-family: Georgia;
  src: url("../assets/fonts/georgia.ttf");
}

@font-face {
  font-family: Arial;
  src: url("../assets/fonts/arialmt.ttf");
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

#our-friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F6F6;
}

.pets-main {
  height: 90px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
  text-align: center;
}

.carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  overflow: hidden;
}

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  left: 36.54%;
  right: 36.54%;
  top: 44.23%;
  bottom: 44.23%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 19px;
  margin-top: 190px;
  color: #F1CDB3;
}

.button-arrow:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100%/3);
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 .name1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card1 .btn-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card1 .btn-pets:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.card1:hover {
  cursor: pointer;
  background-color: white;
}

.card1:hover .btn-pets {
  cursor: pointer;
  background-color: #fddcc4;
}

.card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100%/3);
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2 .name2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card2 .btn-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card2 .btn-pets:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.card2:hover {
  cursor: pointer;
  background-color: white;
}

.card2:hover .btn-pets {
  cursor: pointer;
  background-color: #fddcc4;
}

.card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100%/3);
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card3 .name3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card3 .btn-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card3 .btn-pets:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.card3:hover {
  cursor: pointer;
  background-color: white;
}

.card3:hover .btn-pets {
  cursor: pointer;
  background-color: #fddcc4;
}

.img-pets {
  width: auto;
  height: auto;
}

.mobile-arrow {
  display: none;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 207px;
  height: 52px;
  bottom: 0px;
  background: #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  margin: 70px auto 0;
}

.btn-more:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

@-webkit-keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.transition-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes move-right {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes move-right {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

.transition-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
/*# sourceMappingURL=style.css.map */